<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <!-- Add Materialize CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Optional: Add Material Icons for icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
<div class="container">
    <h1 class="center-align">Login</h1>
    <form method="post">
        {% csrf_token %}
        <div class="input-field">
            <input type="text" name="email" id="username">
            <label for="username">Email</label>
        </div>
        <div class="input-field">
            <input type="password" name="password" id="password">
            <label for="password">Password</label>
        </div>
        <div class="center-align">
            <button class="btn waves-effect waves-light" type="submit">Login</button>
        </div>
    </form>
</div>

<!-- Add Materialize JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>
